body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 50em;
    padding-left: 10px;
}

body section {
    overflow-y: auto;
    padding-bottom: 40px;
}

body nav {
    font-weight: 600;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-top: 21px;
}

body nav a {
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    color: black;
    margin: auto;
    max-width: 50em;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
    border-top: 1px solid grey;
    background: white;
}

a {color: black; text-decoration: none;}         /* Unvisited link  */
a:visited {color:black;} /* Visited link    */
a:hover {color:black;}   /* Mouse over link */
a:active {color:black;}  /* Selected link   */